.header {
  text-align: center;
}

.header-link {
  font-size: 28px;
  font-weight: bold;
  color: white !important;
  margin-right: 10px;
}
.header-link:hover {
  color: white;
}

.header-logo {
  font-size: 28px !important;
}

.header-menu {
  vertical-align: middle;
  font-size: 20px;
  line-height: 64px;
}

.footer {
  color: white;
  background-color: #292d32;
  text-align: center;
}
