.info > p, .warning > p, .tip > p{
    margin: 0
}
.info code, .warning code, .tip code{
    padding: .2em;
    font-size: 0.9em;
    background: #18793c0f;
    border-radius: 3px
}
.info > p {
    color: #31708f !important
}
.warning > p {
    color: #a94442 !important
}
.tip > p {
    color: #8a6d3b !important
}
